*{
    font-family: 'Work Sans', sans-serif;
}

/*this is top logo and nav css*/

.header{
    box-sizing: border-box;
    max-height: 1440px;
    margin: 0 auto;
}


.topnav-container{
    max-width: 1440px;
    height: auto;
    margin: 0 auto;
    height: 130px;
    display: flex;
    justify-content: space-between;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.topnav-container .gamer-logo-content{
    width: 50%;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
}
.gamer-logo-content img{
    width: 100% auto;
    margin-left: 20px;
}
.topnav-container .gamer-logo-content h1 .gamer-first-letter{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.topnav-container .gamer-logo-content h1{
    color: #0B0223;
    font-size: 2.8rem;
    font-weight: 700;
}
.topnav-container .gamer-list-content{
    width: 50%;
    display: flex;
    gap: 32px;
    justify-content: right;
    align-items: center;
}
.gamerlist-item-three{
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 0;
    width: 262px;
    height: 56px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    margin-right: 20px;
}
.gamer-list-content .gamerlist-item  a{
    text-decoration: none;
}
.gamerlist-item-three .list-item-inside-list img{
    width: 100% auto;
    margin-top: 5px;
}
.gamerlist-item-three .list-item-inside-list-one a{
    text-decoration: none;
    margin-left: 24px;
}
.list-item-inside-list-tiktok{
    margin-right: 16px;
}

.gamerlist-item a, .list-item-inside-list-one a{
    color: #3C354F;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
}




/*this is GOAT css*/

.goat-section{
    width: 100% auto;
    height: 645px;
    margin-bottom: 55px;
}


.GOAT-container{
    max-width: 1640px;
    margin: 0 auto;
    height: auto;
    display: flex;
    gap: 68px;
    justify-content: center;
    align-items: center;
}

.goat-content{
    background-image: url(images/Group\ 14.png);
    background-position: 100%;
    background-size: cover;
    min-height: 645px;
    background-repeat: no-repeat;
    width: 50%;
    text-align: left;
}
.goat-content p{
    display: flex;
    gap: 8px;
}

h3{
    color: #0B0223;
    text-align: left;
    font-size: 3rem;
    font-weight: 600;
    margin-top: 120px;
    margin-bottom: 0;
}
h2{
    text-align: left;
    font-size: 5.9rem;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 0;
    margin-bottom: 24px;
}
p{
    color: #534C64;
    text-align: left;
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 17px;
}
.goat-blog{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}
.botton-contain{
    display: flex;
    gap: 20px;
}
.btn-primary{
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 21px 40px;
    gap: 10px;
    border: 0;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    margin-right: 10px;
}
.btn-primary-two{
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 21px 40px;
    border: 0;
    border-radius: 48px;
    background: #4EC5F7;
}
.goat-content-inside{
    padding-left: 50px;
}

.GOAT-container .goat-image{
    width: 50%;
    margin-right: 30px;
}

.GOAT-container .goat-image img{
    width: 100%;
}


/*this is we are gamer css*/
.we-are-gamer-section{ 
    box-sizing: border-box;
    max-height: 1440px;
    margin: 0 auto;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.we-are-container{
    max-width: 1440px;
    height: auto;
    margin: 0 auto;
    height: 600px;
    display: flex;
    gap: 52px;
    justify-content: space-around;
    align-items: center;
    text-align: right;
}
.we-are-image{
    width: 60%;
    margin-left: 20px;
}
.we-are-image img{
    width: 100%;
}
.we-are-content{
    width: 40%;
    margin-right: 20px;
}
.we-game-header{
    text-align: right;
    font-size: 3rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}
.gamer-blog{
    color: #534C64;
    text-align: right;
    font-size: 1.1rem;
    font-weight: 400;
    padding-top: 24px;
    padding-bottom: 32px;
}
.we-are-content .game-second-head{
    color: #000000;
    text-align: right;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 24px;
}
.game-last-head{
    color: #534C64;
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
}
.btn-primary-three{
    padding: 21px 40px;
    gap: 10px;
    border: 0;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 24px;
}

/*this is Instantly css*/
.instantly-section{
    box-sizing: border-box;
    max-height: 1440px;
    margin: 0 auto;
}
.anniversary-container{
    max-width: 1440px;
    height: auto;
    margin: 0 auto;
    height: 1100px;
    display: flex;
    gap: 120px;
    justify-content: space-between;
    align-items: center;
}
.anniversary-content{
    width: 50%;
    margin-right: 130px;
    margin-bottom: 300px;
}
.anniversary-image{
    width: 50%;
}
.anniversary-image img{
    width: 634px;
    height: 650px;    
}
.anniversary-second-image img{
    width: 318px;
    height: 365px;
    position: relative;
    bottom: 295px;
    right: 150px;
}
.anniversary-headline, .anniversary-headline-firstline{
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
    text-align: right;
    margin: 0;
}
.anniversary-headline-firstline{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.anniversary-blog{
    color: #534C64;
    text-align: right;
    font-size: 1.1rem;
    font-weight: 400;
    padding-bottom: 24px;
}
























































@media screen and (max-width: 576px) {
    .topnav-container{
        flex-direction: column;justify-content: center;
        align-items: center;
        height: 300px;
    }
    .topnav-container .gamer-logo-content{
        width: 100%;
        justify-content: center;
    }
    .topnav-container .gamer-list-content{
        flex-direction: column;
        gap: 20px;
    }
    .gamer-logo-content img{
        margin-left: 0;
    }
    .topnav-container .gamer-logo-content h1{
        margin: 10px 0 15px 0px;
    }
    .GOAT-container{
        flex-direction: column-reverse;
        gap: 0;
        height: 750px;
    }
    .GOAT-container .goat-image{
        width: 100%;
        margin: 0 15px;
    }
    .goat-content{
        width: 100%;
        min-height: 0px;
        text-align: center;
        padding-top: 50px;
    }
    .goat-content-inside{
        padding-left: 0;
    }
    h3,h2{
        margin: 0;
        text-align: center;
    }
    h3{
        font-size: 1.5rem;
        padding-top: 10px;
        padding-right: 15px;
    }
    h2{
        font-size: 2.4rem;
        padding-right: 30px;
    }
    .goat-content p{
        font-size: 0.7rem;
        margin: 0;
        padding-left: 120px;
    }
    .goat-blog{
        padding-bottom: 20px;
        padding-top: 10px;
    }
    .btn-primary,.btn-primary-two{
        padding: 7px 15px;
        font-size: 0.7rem;
        border-radius: 20px;
        margin-right: 0;
    }
    .botton-contain{
        gap: 5px;
        justify-content: center;
        margin-bottom: 0px;
        padding-bottom: 40px;
    }
    .goat-section{
        height: 750px;
        margin-bottom: 0;
    }
    
    .we-are-container{
        flex-direction: column;
        max-width: 100%;
        justify-content: center;
        align-items: center;
        gap: 0px;
        text-align: center;
        height: 450px;
    }
    .we-are-image{
        width: 100%;
        margin: 0;
    }
    .we-are-content{
        width: 100%;
        text-align: center;
        margin-right: 0;
    }
    
    .we-game-header{
        text-align: center;
        font-size: 1.5rem;
        margin-top: 20px;
    }
    .gamer-blog{
        text-align: center;
        font-size: 0.6rem;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-top: 10px;
        margin-bottom: 7px;
    }
    .btn-primary-three{
        padding: 10px 20px;
        font-size: 0.8rem;
        margin-bottom: 10px;
    }
    .we-are-content .game-second-head{
        text-align: center;
        font-size: 0.9rem;
        margin-bottom: 0px;
    }
    .game-last-head{
        text-align: center;
        font-size: 1rem;
        margin-bottom: 20px;
    }
    .we-are-gamer-section{
        margin-top: 60px;
    }
    .anniversary-container{
        flex-direction: column;
        gap: 10px;
        width: 410px;
        justify-content: center;
        height: 850px;
        margin-top: 20px;
    }
    .anniversary-content{
        width: 100%;
        margin-right: 0;
        margin-bottom: 0;
    }
    .anniversary-content{
        width: 100%;
    }
    .anniversary-headline, .anniversary-headline-firstline{
        text-align: center;
        font-size: 1.4rem;
    }
    .anniversary-blog{
        text-align: center;
        font-size: 0.8rem;
    }
    .anniversary-image{
        margin-right: 20px;
    }
    .anniversary-image img{
        width: 150%;
        height: 50%;
    }
    .anniversary-second-image img{
        width: 80%;
        height: 40%;
        margin-left: 65px;
        margin-top: 145px;
    }
}







